:root {
    --vermelho-escuro: #8B0000;
    --verde-escuro: #006400;
    --dourado: #DAA520;
    --branco: #FFFFFF;
    --cinza-claro: #F5F5F5;
    --preto: #000000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--vermelho-escuro);
}

.section-main {
    background-color: var(--dourado);
    border: 2px solid var(--verde-escuro);
    padding: 10px;
    margin-bottom: 20px;
    
    width: 100vw; 
    height: 100vh;
    
    display: flex;
    flex-wrap: wrap;

    
    justify-content: center;
    gap:  20px;
     
}

h2 {
    font-size: 24px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pizzas {
    background-color: var(--vermelho-escuro);
    color: var(--dourado);
    border: 2px solid var(--branco);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    
}

a {
    text-decoration: none;
}

a img {
    width: 300px;
    height: 160px;
}

a:visited h2,
a:active h2,
a:hover h2,
a:link h2 {
    color: var(--branco);
    text-decoration: none;
}

figcaption p {
    font-size: 10px;
}

ul li {
    list-style: none;
}
.hiden {
    display: none;
    flex-direction: column;
}

@media (max-width: 600px) {
    #section-main {
        flex-direction: column;
    }
}
