
.produtos-itens h2 {
    margin-left: 5px;
    background-color: transparent;
    display: block;
}
main {
    background-color: var(--cinza-claro);
    display: block;
    flex-direction: row;
}
    
.produtos-itens h2 {
  margin: 5px;
  background-color: transparent;
  display: block;
  color: var(--preto);
}


main #menu {
    background-color: var(--dourado);
    display: flex;
    justify-content: space-between;
}


#produtos-itens {
    position: absolute;
    top: 50px;
    left: 50px;
    color: var(--cinza-claro);
}

#logo-home {

    background-image: url(img/banner-home-SJA.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 500px;
}

#topo-redes-sociais ul li+li {
    
    margin-left: 3px;    

}

#topo-redes-sociais ul a:hover {

    background-color: var(--cinza-claro);
    
    color: var(--preto);

}

#topo-redes-sociais ul a {
    
    text-decoration: none;

    transition: color 3s;

    transition: background-color 3s;

}

#topo-redes-sociais ul {

    height: 16px;

    display: flex;
    
    background-color: var(--dourado);
    
    justify-content: space-between;

    align-items: center;
    
    font-size: 16px;

    color: var(--preto);

    list-style-type: none;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

}

#topo-menu ul a:hover {

    background-color: var(--cinza-claro);

    color: var(--preto);

}

#topo-menu ul a {

    text-decoration: none;

    transition: color 8s ;

    transition: background-color 1s;
}

#topo-menu ul li {
    margin-left: 10px;
}
#topo-menu ul li+li {

    margin-left: 10px;

}

#topo-menu ul {

    height: 16px;

    display: flex;
    
    background-color: var(--dourado);
    
    justify-content: space-between;

    align-items: center;
    
    font-size: 16px;

    color: var(--preto);

    list-style-type: none;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

}

#topo-logo img{
    width: 300px;
    max-width: 150px;
    height: 50px;
    border-radius: 2px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#topo-logo {

    background-color: var(--cinza-claro);

    max-width: 100%;
    
    height: auto;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    border-radius: 2px;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

    padding: 2px;

}


#topo {
    width: 100%;
    
    height: auto;

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin: 5px 0 5px 0;

    border: none;

    border-radius: 5px;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    background-color: var(--verde-escuro);
}

#section-main {
    background-color: var(--dourado);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

body {
    background-color: var(--branco);
    color: var(--preto);
    font-size: 0.6rem;
    width: 100vw;
    min-height: 100vh;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:start;
    overflow-y: auto;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Paleta de Cores */
:root {
    --vermelho-escuro: #8B0000;
    --verde-escuro: #006400;
    --dourado: #DAA520;
    --branco: #FFFFFF;
    --cinza-claro: #F5F5F5;
    --preto: #000000;
}



/*
| Cor                 | Código Hex | Uso Sugerido no Site                      |
| ------------------- | ---------- | ----------------------------------------- |
| **Vermelho Escuro** | `#8B0000`  | Cabeçalho (`<header>`), botões de chamada |
| **Verde Escuro**    | `#006400`  | Links, ícones de localização, rodapé      |
| **Dourado**         | `#DAA520`  | Destaques no menu, bordas de seções       |
| **Branco**          | `#FFFFFF`  | Fundo principal, textos em áreas escuras  |
| **Cinza Claro**     | `#F5F5F5`  | Fundo de seções secundárias, formulários  |
| **Preto**           | `#000000`  | Texto principal, ícones, rodapé           |
*/